@charset "utf-8";
.cx {
	font-family: FML-Indulekha;
}
WER {
	font-family: Rachana;
}
#rcorners3a tr td #customers tbody tr td table tbody tr td div {
	font-size: 16px;
	line-height: 1.7;
	font-family: Rachana;
}
